body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background: #f9f9f9;
}

.main {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
}

@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}
