.sidebar {
  width: 220px;
  background: white;
  height: 100vh;
  padding-top: 10px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.sidebar-item:hover {
  background: #f2f2f2;
}

.sidebar-item span {
  font-size: 14px;
}

.sidebar-item svg {
  font-size: 20px;
}

.active {
  background: #e5e5e5;
  font-weight: bold;
}
@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}